
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,700&family=Oswald&display=swap');
@import url(https://use.fontawesome.com/releases/v6.4.2/css/all.css);
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');


body {
    margin:0;
}

.banner img {
    background:cover;
}


/* Texto vintage */
section{
    width: fit-content;
    position: absolute;
    top: 30%;
    left: 10%;
    margin-top: -55px;
    text-align: center;
    background-color: rgb(18, 18, 18, 0.5);
}

h1:after{
    margin: 5px 0 0 10px;
}
section h1{
    width: fit-content;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-weight: 400px;
    font-size: 70px;
    color: #ECAA22;
    margin: 0;
    text-shadow: 3px 4px #e6e6d8, 5px 6px #c6a39a;
    
}
h1 span {
    display: inline-block;
    vertical-align: middle;
}
.star:before{
    font-family: "FontAwesome", sans-serif;
    content: "\f005";
}
.star{
    font-size: 25px;
}

.banner{
    width: 100%;
    height: 780px;
    background-image: url(https://images.unsplash.com/photo-1502773860571-211a597d6e4b?auto=format&fit=crop&q=80&w=1000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cmVjb3JkJTIwc2hvcHxlbnwwfHwwfHx8MA%3D%3D);
    background-repeat: no-repeat;
    background-size: cover;

}

/*navbar*/
.navbar{
    display: flex;
    width: 100%;
    height: 10vh;
    list-style: none;
    background-color:#ffffff;
    align-items: center;
    justify-content: space-evenly;
    color: #121212;
    margin: 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
.navbar a{
    text-decoration: none;
    color: #121212;
}
.navbar a:hover{
    opacity: 0.8;
    color: #57B4AA;
}
.navbar ul{
    font-family: 'Caviar Dreams', sans-serif;
}

button{
    cursor:pointer;
    background-color:#57B4AA;
    margin: 0em;
    padding-block: 1px;
    padding-inline: 6px;
    border-style: none;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-style: normal;
    

}
button:hover{
    opacity: 0.8;
}

button a{
    text-decoration: none;
    color: #e6e6d8;
}
.sobre{
    display: flex;
    justify-content: space-between;
    height:464px;
    width: 100%;
    background-color: #57B4AA;

}
.img_sobre img{
    width: 752px;
    height: 464px;
}
.texto_sobre h2{
    text-align: center;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-weight: 400px;
    font-size: 70px;
    color: #ECAA22;
    margin: 0;
    text-shadow: 3px 4px #e6e6d8, 5px 6px #c6a39a;
}
.texto_sobre p{
    text-align: justify;
    padding: 0px 40px 0px 40px;
    font-size:large;
    color:#e6e6d8 ;
    font-family: 'Public Sans', sans-serif;
}
.texto_sobre img{
    height: 80px;
    width: 80px;
    justify-content: space-between;
}
.galeria{
    display: flex;
    align-items: center;
    justify-content:space-around;
    height: 550px;
    background-color: #ECAA22;
}
.galeria .box1{
    height: 400px;
    width: 300px;
    box-shadow:  0 2px 6px 0 rgba(0,0,0);
    background-image: url(https://cdn.blog.estrategiavestibulares.com.br/vestibulares/wp-content/uploads/2023/05/Rita_Lee_in_Aracatuba-08_by_Marco_Senche-1.jpg);
    background-position: center;
    background-size: cover;
    margin: 0;
    text-align: center;
   -webkit-filter: grayscale(100%);
   filter: grayscale(100%);
    
}
.galeria .box2{
    height: 400px;
    width: 300px;
    box-shadow:  0 2px 6px 0 rgba(0,0,0);
    background-image: url(https://mrwallpaper.com/images/high/abba-in-denim-outfit-3hf1gytdvl8jrpd1.webp);
    background-size:cover;
    background-position: center;
    text-align: center;
   -webkit-filter: grayscale(100%);
   filter: grayscale(100%);
    
}
.galeria .box3{
    height: 400px;
    width: 300px;
    box-shadow:  0 2px 6px 0 rgba(0,0,0);
    background-image: url(https://www.nme.com/wp-content/uploads/2016/10/84843405_ratemy_jackson_01-696x1064.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
   -webkit-filter: grayscale(100%);
   filter: grayscale(100%);
}
.titulo_posts{
    display: flex;
    justify-content: center;
    background-color: #ECAA22;
}
.titulo_posts h1{
    width: fit-content;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-weight: 400px;
    font-size: 65px;
    color: #D25525;
    margin: 0px;
    text-shadow: 3px 4px #e6e6d8, 5px 6px #c6a39a;
}
.galeria span{
    color:#121212;
    background-color: #e6e6d8;
    background-size: cover;
    width: 300px;
    width: max-content;
    text-align: center;
    font-family: 'Public Sans', sans-serif;
}
.box1:hover, .box2:hover, .box3:hover{
    cursor: pointer;
    
    -webkit-filter: grayscale(0%);
   filter: grayscale(0%);
}
.galeria::after{
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   background-color: rgba(0, 100, 0, .4);
}

.footer{
    display: flex;
    height: 100px;
    justify-content:space-around;
    background-color: #57B4AA;
    margin: 0;
    align-items: center;
    font-family: 'Caviar Dreams', sans-serif;
}
.footer li{
    list-style: none;
}
.footer img{
    height: 15px;
    width: 15px;
    
}
.footer a{
    text-decoration: none;
    color: #121212;
}