
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Niramit&display=swap');



body {
    background-image: url(public/assets/imgs/fundo_textura.png);
    margin: 0;
    font-family: 'Niramit', sans-serif;
}

/* inicio navbar */
.navbar{
    display: flex;
    width: 100%;
    height: 10vh;
    list-style: none;
    background-color:#B692FD;
    align-items: center;
    justify-content: space-evenly;
    color: #f1f1f1;
}
.navbar img{
    width: 60px;
    height: 60px;
}

.fundo{
    height: 1500px;
}

/* JUNÇÃO DE ARTISTAS + ÁREA DE TEXTO */

.elementos{
    display: flex;
    justify-content: space-evenly;
    margin: 0;

}

.text_box{
    display: flex;
    width: 60%;
    height: 80%;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    border: #B692FD 2px solid;
}

.artistas{
    display: flex;
    width: 20%;
    height: 45%;
    background-color: #59079c;
    flex-direction: column;
}
/* ÁREA DE TEXTO - TODA EDIÇÃO DE TEXTO ESTÁ AQUI */
.elementos .text_box h1{
    font-family: 'Bree Serif', serif;
    text-align: left;
    text-indent: 50px;
    font-size: 64px;
    color: #368FD9 ;
}
.text_box p{
    text-indent: 30px;
    text-align: justify;
    padding:0px 35px;
}
.text_box h3{
    font-family: 'Bree Serif', serif;
    text-align: left;
    text-indent: 50px;
    font-size: 34px;
    color: #368FD9 ;
}
.text_box img{
    width: 615px;
    height: 410px;
    align-self: center;
}

/* COLUNA DE OUTROS ARTISTAS IMPORTANTES DA ÉPOCA */

.artistas{
    display: flex;
    
}

.artistas ul{
    display: grid;
    font-size: 12px;
    justify-content: space-between;
    flex-direction: row;

}

.artistas img{
    width: 100px;
    height: 100px;
}