
@import url('https://fonts.googleapis.com/css2?family=Niramit&display=swap');



body {
    background-color: #812323;
    margin: 0;
    font-family: 'Niramit', sans-serif;
}

/* inicio navbar */
.navbar{
    display: flex;
    width: 100vw;
    height: 10vh;
    list-style: none;
    background-color:#B692FD;
    align-items: center;
    justify-content: space-evenly;
    color: #f1f1f1;
    margin: 0;
}
.navbar img{
    width: 60px;
    height: 60px;
}
/* conteúdo que deu errado!

.elementos .text_box{
    display: flex;
    background-color: white;
    width: 100px;
    height: 100px;
}*/

.textbox{
    display: grid;
    width: 823px;
    height: 1200px;
    background-color: rgb(89, 7, 156);
    flex-direction: column;
}