
  @import url('https://fonts.googleapis.com/css2?family=Niramit&display=swap');



body {
    margin: 0;
}

/*background*/

.banner{
    height: 100vh;
    width: 100vw;
    background-color: #f4f4f4;
    background-size: cover;
}

/* .buttons{
    display: flex;
    box-shadow: black;
    border-color: black;
    color: rgb(0, 0, 0);
    width: 180px;
    height: 80px;
    align-items:center;
    justify-content: space-around;
    flex-direction: row;
} */
.container{
    align-items:center;
    display: flex;
    height: 100vh;
    justify-content: space-evenly;

}
.container .box_nav{
    display: grid;
    list-style: none;
    padding: 20px;
    font-family: 'Niramit', sans-serif;
    color: #B692FD;
    flex-direction: column;
    row-gap: 40px;
}

.container .box_nav li{

    border: 1px solid #B692FD;
    padding: 10px 100px;
}