
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Niramit&display=swap');



body {
    background-color:#ECAA22;
    margin: 0;
    font-family: 'Niramit', sans-serif;
    height:1500px;
}

/*navbar*/
.navbar{
    display: flex;
    width: 100%;
    height: 10vh;
    list-style: none;
    background-color:#ffffff;
    align-items: center;
    justify-content: space-evenly;
    color: #121212;
    margin: 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
.navbar a{
    text-decoration: none;
    color: #121212;
}
.navbar a:hover{
    opacity: 0.8;
    color: #57B4AA;
}
.navbar ul{
    font-family: 'Caviar Dreams', sans-serif;
}

/* JUNÇÃO DE ARTISTAS + ÁREA DE TEXTO */

.elementos{
    display: flex;
    justify-content: space-evenly;
    margin: 0;

}

.text_box{
    display: flex;
    width: 1020px;
    height: 1400px;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
}

/* ÁREA DE TEXTO - TODA EDIÇÃO DE TEXTO ESTÁ AQUI */
.elementos .text_box h1{
    font-family: 'Bree Serif', serif;
    text-align: left;
    text-indent: 50px;
    font-size: 64px;
    color: #368FD9 ;
}
.text_box p{
    text-indent: 30px;
    text-align: justify;
    padding:0px 35px;
}
.text_box h3{
    font-family: 'Bree Serif', serif;
    text-align: left;
    text-indent: 50px;
    font-size: 34px;
    color: #368FD9 ;
}
.text_box img{
    width: 800px;
    height: 533px;
    align-self: center;
}

/* COLUNA DE OUTROS ARTISTAS IMPORTANTES DA ÉPOCA */

.artistas{
    display: flex;
    
}

.artistas ul{
    display: grid;
    font-size: 12px;
    justify-content: space-between;
    flex-direction: row;

}

.artistas img{
    width: 100px;
    height: 100px;
}